package ${package.Service};

import ${package.Entity}.${entity};
import com.huayuan.common.entity.ResultMessage;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} {
	
	ResultMessage example(Object params);
	
	
	
}
#end
