package ${package.Mapper};

import ${package.Entity}.${entity};
import ${superMapperClassPackage};

import java.util.List;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Select;


/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 * @Copyright 深圳金雅福控股集团有限公司
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.mapperName} : ${superMapperClass}<${entity}>
#else
@Mapper
public interface ${table.mapperName} extends ${superMapperClass}<${entity}> {


	/**
	 * 获取列表
	 *
	 * @author ${author}
	 * @since ${date}
	 */
	//public List<${entity}ResDTO> queryByPage(Page<${entity}> page, @Param("data") ${entity}ReqDTO ${table.entityPath});
	
	
	
}
#end
